<% content_for :header do %>
	<h1><a href="/">Crappr</a></h1>
<% end %>

<% content_for :after_load do %>
loadTop10();

$(".tabs li").click(function() { 
	$(".tabs li").removeClass('active');
	$(this).addClass('active');
	
	$("section#toilets div").not('.page-header').hide();
	
	var funct = $(this).children('a').attr('data-function');
	window[funct]();
	return false;
});

$("a.paginate").live('click',function() { 
	var new_page = $(this).attr('data-page');
	
	// Hard coded for now (should really be handled in the API :P)
	if (new_page < 1 || new_page > 8) {
		return false;
	} else {
		$('#page').attr('data-page', new_page);
	}
	loadIndex();
	return false;
});
<% end %>


<ul class="tabs">
  <li class="active"><a href="" id="top-10-link" data-function='loadTop10'>Top 10</a></li>
  <li><a href="" id="index-link" data-function='loadSuburbs'>By Suburb</a></li>
  <li><a href="" id="index-link" data-function='loadIndex'>All Toilets</a></li>
</ul>
<section id="toilets">
	<div class="page-header">
    	<h2></h2>
    </div>
	<div id="top10" class="" style='display:none;'></div>
	<div id="suburbs" class="" style='display:none;'></div>
	<div id="index" class="" style='display:none;'>
	</div>
	
</section>

<script>
function loadSuburbs(){
	$("#suburbs").show();
	$('.page-header h2').html('Browse by Suburb:');
	
	$.getJSON('/suburbs.json', function(data) {
		items = [];
		$.each(data, function(key, val) {
	    items.push('<li id="' + key + '" class="listview-container">' + 
					'<div class="inner"><div class="text"><a href="/suburbs/'+ val.suburb.id + '">' +
					'<h3 class="heading">'+ val.suburb.name + '</h3>' +
					'</div>' +
					'</a></div>' +
					'<span class="arrow"></span></div></li>');
	  });

	$('#suburbs').html(  
		$('<ul/>', {
	    	'class': 'listview',
	    	html: items.join('')
	  	})
	);
	
	$('#suburbs ul li:first').addClass('top');
	$('#suburbs ul li:last-child').addClass('bottom');
	
	});
	
}

function loadTop10(){
	$("#top10").show();
	$('.page-header h2').html('Top 10 Toilets:');
	$.getJSON('/toilets.json?top=10', function(data) {
		items = [];
		$.each(data, function(key, val) {
	    items.push('<li id="' + key + '" class="listview-container">' + 
					'<div class="inner"><div class="text"><a href="/toilets/'+ val.toilet.id + '">' +
					'<h3 class="heading">'+ val.toilet.location + '</h3>' +
					'<p class="rating">' + drawStars(val.toilet.rating) + '</p>' +
					'</div>' +
					'</a></div>' +
					'<span class="arrow"></span></div></li>');
	  });

	$('#top10').html(  
		$('<ul/>', {
	    	'class': 'listview',
	    	html: items.join('')
	  	})
	);
	
	$('#top10 ul li:first').addClass('top');
	$('#top10 ul li:last-child').addClass('bottom');
	
	});
}
function loadIndex(){
	$("#index").show();
	$('.page-header h2').html('All Toilets:');
	var page = $('#page').attr('data-page');
	page = typeof(page) != 'undefined' ? (parseInt(page)): 1;
	
	var next_page = (parseInt(page)) + 1;
	var prev_page = (parseInt(page)) - 1;
	
	$.getJSON('/toilets.json?limit=10&page='+page, function(data) {
		items = [];
		$.each(data, function(key, val) {
	    items.push(	'<li id="' + key + '" class="listview-container">' + 
						'<div class="inner"><div class="text"><a href="/toilets/'+ val.toilet.id + '">' +
						'<h3 class="heading">'+ val.toilet.location + '</h3>' +
						'<p class="rating">' + drawStars(val.toilet.rating) + '</p>' +
						'</div>' +
						'</a></div>' +
						'<span class="arrow"></span></div></li>');
	  });

	$('#index').html(  
		$('<ul/>', {
	    	'class': 'listview',
	    	html: items.join('')
	  	})
	);
	var pagination = '<p id="page" data-page="'+page+'"> <a href="" data-page="'+prev_page+'" class="paginate left"> Previous</a> <a href="" data-page="'+ next_page +'" class="paginate right">Next</a> </p>';
	$("#index").append(pagination);
	
	$('#index ul li:first').addClass('top');
	$('#index ul li:last-child').addClass('bottom');
	
	
	});
}
</script>