<% content_for :header do %>
	<h1><a href="/">Crappr</a></h1>
<% end %>

<ul class="tabs">
  <li class="active"><a href="#">Top 10</a></li>
  <li><a href="#">Toilets</a></li>
  <li><a href="#">Suburbs</a></li>
</ul>