html{
		height:100%;
}
body {
		min-height:100%;
		font-family: 'Trebuchet MS', 'Trebuchet MS', sans-serif;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
	padding-top: 40px;
}
#footer {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
}

#content {
	padding-bottom:60px;
}
#masthead h1,
#masthead p {
  text-align: center;
  margin-bottom: 9px;
}
#masthead h1,
#footer h1,
#masthead p,
#footer p {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#masthead p.lead {
	font-size: 20px;
	line-height: 27px;
}

#masthead h1 {
  font-size: 54px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

#masthead, #footer {
	text-align: left;
	color: white;
	background: #b21418;
	background-color: #b21418;
	background: -moz-linear-gradient(100% 100% 90deg, #42aaff,  #003366);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#003366), to(#42aaff));
	background-image: -khtml-gradient(linear, left top, left bottom, from(#003366), to(#42aaff));
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#003366', EndColorStr='#42aaff', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#003366', EndColorStr='#42aaff', GradientType=0))";
}
#masthead div.inner, #footer div.inner {
  padding: 45px 0;
  -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
}

section {
	padding-top: 30px;
	position: relative;
	padding-bottom: 30px;
}

#footer {
margin-top: 80px;
}

.clear { clear:both; }

section#top-10 { height:550px;}
section#about { height:400px;}

#legend img.legend-toilet { width:40px; }
#legend img.legend-cluster { width:45px; }
#legend td.icon {width:60px;}
#information {
	float: right;
	width: 23%;
	padding: 1%;
	overflow: auto;
	font-size: 0.9em;
	min-height: 100%;
}

.toilet_info {
	max-width:250px;
}
.toilet_info h4 {
	line-height: 26px;
}

div .show {
	width: 37.5%;
	float: left;
}

.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating,
.star-rating span
{
	background: url('/images/star.png') left -1000px repeat-x;
}
.star-rating{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.radio-rating{
	position:relative;
	width:150px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating li {
	display: inline;
}
.radio-rating li {
	display: inline;
}
.star-rating a,
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating a:hover{
	background-position: left bottom;
}
.star-rating a.stars-1, .star-rating span.stars-1{
	width:20%;
	z-index:6;
}
.star-rating a.stars-2, .star-rating span.stars-2{
	width:40%;
	z-index:5;
}
.star-rating a.stars-3, .star-rating span.stars-3{
	width:60%;
	z-index:4;
}
.star-rating a.stars-4, .star-rating span.stars-4{
	width:80%;
	z-index:3;
}
.star-rating a.stars-5, .star-rating span.stars-5{
	width:100%;
	z-index:2;
}
.star-rating .current-rating{
	z-index:1;
	background-position: left center;
}

