body{
  -webkit-text-size-adjust:none;
  font-family:Helvetica, Arial, Verdana, sans-serif;
  padding:0px;
	margin:0px;
	font-size: 100%;
	line-height: 1.125em;
}

#header {
	text-align: left;
	color: white;
	background: #b21418;
	background: -moz-linear-gradient(100% 100% 90deg, #42aaff, #003366);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#003366), to(#42aaff));
	padding: .825em 2%;
}
#header  a {
	text-decoration: none;
	color: white;
	
}
	#header .homepage {
			text-align: center;
	}
	
	#header .homepage h1  {
		font-size: 2em;
		margin: 0.575em 0px 0px;
		color: white;
	}
	
	#header h1  {
		margin: 0px 0px 0px;
	}


#header h2 {
	font-size: 1.25em;
	color: white;
}


/***********
 * HOME CONTENT *
 ***********/

#content .home {
	padding:0.75em 5% 3em;
	min-height:205px;
}

#content button.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#42aaff 0%,
		#003366);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#42aaff),
		to(#003366));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #003366;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.3);
}

#content a.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#42aaff 0%,
		#003366);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#42aaff),
		to(#003366));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #003366;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.3);
		width: 125px;
		height: 23px;
		text-align: center;
		text-decoration: none;
}

#content .home-btn	{
	display: block;
	height: 43px;
	margin: 0px auto 0.875em;
	width: 167px;
}

#content .home h3{
	text-align: center;
}

/***********
 * HOME FOOTER *
 ***********/
	#footer .homepage-footer {
			text-align: center;
			color: white;
			background: #b21418;
			background: -moz-linear-gradient(100% 100% 90deg, #42aaff , #003366);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#003366), to(#42aaff));
			padding: .625em 5%;
	}
	#footer .homepage-footer a {
		color: white;
	}
	
/***********
 * Tab pages *
 ***********/

section#toilet h2 {
	font-size: 18px;
	line-height: 22px;
	text-align:center;
}

section p {
	font-size: 15px;
	line-height: 19px;
}
section {
	padding:0 10px;
	min-height:300px;
}

.toilet_info { max-width:250px; }
.toilet_info h4 { line-height: 26px; }

/***********
 * Stars *
 ***********/

.star-rating, .star-rating .current-rating, .star-rating span
{ background: url('/images/star.png') left -1000px repeat-x; }
.star-rating{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating li { display: inline; }
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating span.stars-1{ width:20%; z-index:6; }
.star-rating span.stars-2{ width:40%; z-index:5; }
.star-rating span.stars-3{ width:60%; z-index:4; }
.star-rating span.stars-4{ width:80%; z-index:3; }
.star-rating span.stars-5{ width:100%; z-index:2; }
.star-rating .current-rating{ z-index:1; background-position: left center; }

.clear { clear:both; }
.left { float:left; }
.right { float:right; }

/***********
 * Listview *
 ***********/

.listview { margin-left: 0px; list-style: none; padding: 0; }

	.listview .listview-container {
		display: block;
		margin: 0;
		position: relative;
		overflow: visible;
		text-align: left;
		border-width: 0;
		border: 1px solid gray;
		background: #ffffff;
	}
	
	.listview .top {
		moz-border-radius-topleft: .6em;
		-webkit-border-top-left-radius: .6em;
		border-top-left-radius: .6em;
		-moz-border-radius-topright: .6em;
		-webkit-border-top-right-radius: .6em;
		border-top-right-radius: .6em;
	}
	.listview .bottom {
		moz-border-radius-bottomleft: .6em;
		-webkit-border-bottom-left-radius: .6em;
		border-bottom-left-radius: .6em;
		-moz-border-radius-bottompright: .6em;
		-webkit-border-bottom-right-radius: .6em;
		border-bottom-right-radius: .6em;
	}
	
	.listview .listview-container .inner{
		display: block;
		position: relative;
		padding: 0;
	}
	
	.listview .listview-container .inner .text{
		text-align: left;
	}
	
	.listview .listview-container .inner .text a{
		padding: .7em 35px .7em 15px;
		display: block;
	}
	
	.listview .listview-container .listview-text {
		padding: .7em 35px .7em 15px;
	}
	
	.listview .listview-container .inner .text h3{
		line-height: 15px;
		font-size: 14px;
		font-weight: bold;
		display: block;
		margin: 0em 0;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.listview .listview-container .inner .text .desc{
		font-size: 12px;
		font-weight: normal;
		display: block;
		margin: -.5em 0 .6em;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	
	.listview .listview-container  .arrow {
		right: 10px;
		position: absolute;
		top: 50%;
		margin-top: -9px;
		width: 18px;
		height: 18px;
		background: #666;
		background: rgba(0, 0, 0, .4);
		background-image: url(/images/icons.png);
		background-repeat: no-repeat;
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px;
		border-radius: 9px;
		background-position: -108px 50%;
	}
	
	div.input {
		margin-left: 79px;
	}
	
	label {
		width: 50px;
	}
	
	.radio-rating{
		position:relative;
		width:200px;
		height:25px;
		overflow:hidden;
		list-style:none;
		margin:0;
		padding:0;
		background-position: left top;
	}
	.radio-rating li { display: inline; }
	.actions{background:#f5f5f5;margin-top:18px;margin-bottom:18px;padding:17px 20px 18px 50px;
		border-top:1px solid #ddd;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}
		fieldset legend { margin-left: 79px; }	