<a href="" class="button">Find A Crappr</a>

<h2>Toilets: </h2>
<div id='toilets'>
</div>

<script type='text/javascript'>
		$(".button").click(function() {
			findNearestToilets(3);
			return false;
		});  
</script>