<% content_for :header do %>
	<%= render(:partial => 'headers/main') %>
<% end %>

<section id="about">
  <div class="page-header">
    <h1>About Crappr <small>Brief history and more!!</small></h1>
  </div>
  <div class="row">
    <div class="span6 columns">
      <h3>History</h3>
      <p>The Crappr website was created by Michael Parreno-Villa during the <a href="http://www.mixandmash.org.nz/" title="mix &amp; mash - the great NZ remix &amp; mashup competition">Mix and Mash competition 2011</a>.</p> 
    </div>
    <div class="span6 columns">
      <h3>Credits</h3>
 		<ul>
			<li><a href="http://data.govt.nz/dataset/show/1137">Wellington City Public Conveniences</a> data used under the Creative Commons Attribution 3.0 New Zealand licence</li>
			<li><a href="http://code.google.com/apis/maps/documentation/javascript/" title="The Google Maps Javascript API V3 - Google Maps JavaScript API V3 - Google Code">Google Maps API V3</a>.</li> 
			<li>All icons of this site were created by Nico Mollet or James Briano and are part of the <a href="http://code.google.com/p/google-maps-icons/" title="google-maps-icons - Project Hosting on Google Code">Google Maps Icons project</a>. Used under the <a href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Commons - Attribution-ShareAlike 3.0 Unported">Creative Commons 3.0 BY-SA unported license</a>.</li>
			<li>MarkerClusterer is part of the <a href="http://code.google.com/p/google-maps-utility-library-v3/" title="google-maps-utility-library-v3 - Project Hosting on Google Code">Google Maps Utility Library V3</a> and used under the <a href="http://www.apache.org/licenses/LICENSE-2.0" title="">Apache License 2.0</a>.</li>
		</ul>
    </div>
  </div><!-- /row -->
</section>


<% content_for :footer do %>
  <%= render(:partial => 'shared/footer') %>
<% end %>