<% content_for :header do %>
	<div  class="homepage">
		<h1><a href="/">Crappr</a></h1> 
		<h2>Find a Crapper Near You</h2>
	</div>
<% end %>

<div class="home">

	<button id='gps-btn' class="button home-btn">USE GPS</button>
	<h3>- OR -</h3>

	<%= link_to "BROWSE", toilets_url, :class => "button home-btn" %>
	<div id="toilets-homepage-container" style="display:none;">
		<div id='toilets'>
		</div>
	</div>
	
</div>

<% content_for :footer do %>
	<div  class="homepage-footer">
		<%= link_to "Full Site", root_url(:mobile => 0), :rel => "external" %>
	</div>
<% end %>