<% content_for :header do %>
	<h1><a href="/">Crappr</a></h1>
<% end %>

<% content_for :after_load do %>
loadSuburbs();
<% end %>

<section id="toilets">
	<div class="page-header">
    	<h2></h2>
    </div>
	<div id="suburbs" class="" style='display:none;'></div>
	
</section>

<script>
function loadSuburbs(){
	$("#suburbs").show();
	$('.page-header h2').html('<%= @suburb.name %>');
	
	$.getJSON('/suburbs/<%= @suburb.id %>/toilets.json', function(data) {
		items = [];
		$.each(data, function(key, val) {
	    items.push(	'<li id="' + key + '" class="listview-container">' + 
							'<div class="inner"><div class="text"><a href="/toilets/'+ val.toilet.id + '">' +
							'<h3 class="heading">'+ val.toilet.location + '</h3>' +
							'<p class="rating">' + drawStars(val.toilet.rating) + '</p>' +
							'</div>' +
							'</a></div>' +
							'<span class="arrow"></span></div></li>');
	  });

	$('#suburbs').html(  
		$('<ul/>', {
	    	'class': 'listview',
	    	html: items.join('')
	  	})
	);
	
	$('#suburbs ul li:first').addClass('top');
	$('#suburbs ul li:last-child').addClass('bottom');
	
	});
	
}

function loadTop10(){
	$("#top10").show();
	$('.page-header h2').html('Top 10 Toilets:');
	$.getJSON('/toilets.json?top=10', function(data) {
		items = [];
		$.each(data, function(key, val) {
	    items.push('<li id="' + key + '" class="listview-container">' + 
					'<div class="inner"><div class="text"><a href="/toilets/'+ val.toilet.id + '">' +
					'<h3 class="heading">'+ val.toilet.location + '</h3>' +
					'<p class="rating">' + drawStars(val.toilet.rating) + '</p>' +
					'</div>' +
					'</a></div>' +
					'<span class="arrow"></span></div></li>');
	  });

	$('#top10').html(  
		$('<ul/>', {
	    	'class': 'listview',
	    	html: items.join('')
	  	})
	);
	
	$('#top10 ul li:first').addClass('top');
	$('#top10 ul li:last-child').addClass('bottom');
	
	});
}
function loadIndex(){
	$("#index").show();
	$('.page-header h2').html('All Toilets:');
	$.getJSON('/toilets.json?limit=10', function(data) {
		items = [];
		$.each(data, function(key, val) {
	    items.push(	'<li id="' + key + '" class="listview-container">' + 
						'<div class="inner"><div class="text"><a href="/toilets/'+ val.toilet.id + '">' +
						'<h3 class="heading">'+ val.toilet.location + '</h3>' +
						'<p class="rating">' + drawStars(val.toilet.rating) + '</p>' +
						'</div>' +
						'</a></div>' +
						'<span class="arrow"></span></div></li>');
	  });

	$('#index').html(  
		$('<ul/>', {
	    	'class': 'listview',
	    	html: items.join('')
	  	})
	);
	
	
	$('#index ul li:first').addClass('top');
	$('#index ul li:last-child').addClass('bottom');
	
	
	});
}
</script>